.not-found {
    line-height: 40px;
    padding: 20px;
    text-align: center;
}

.background-image {
    background-image: url('https://res.cloudinary.com/db1se8zwc/image/upload/v1650688661/Others/empty_yulfaa.png');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#options {
    margin-bottom: 20px;
}

.btnOrder {
    height: 40px;
}