.number-found {
    line-height: 40px;
    margin-top: 24px;
}

.product {
    margin-top: 24px;
    
}

.linkPro {
    text-decoration: none;
}

.product-box {
    list-style: none;
    position: relative;
    border: 1px #ccc solid;
    height: 100%;
    transition: all .2s linear;

    &:hover {
        border-color: red;

        .add-to-cart {
            opacity: 1;
            visibility: visible;
            bottom: 0;
        }
    }

    .img-box {
        position: relative;
        padding: 8px 0;
    }

    .img-product {
        width: 100%;
    }

    .name-product {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        line-height: 40px;
        padding: 0 12px;
    }

    .price-product {
        line-height: 30px;
        padding: 0 12px;
    }

    .text-remove {
        text-decoration: line-through;
    }

    .none { display: none;}

    .price-sale {
        font-size: 18px;
        color: red;
        font-weight: 600;
    }

    .sale {
        position: absolute;
        top: -1px;
        left: 0;
        background: red;
        color: #fff;
        padding: 8px 12px;
    }

    .add-to-cart {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: -20px;
        width: 100%;
        text-align: center;
        background: red;
        color: #fff;
        margin-bottom: 0;
        padding: 14px 0;
        cursor: pointer;
        transition: all .1s linear;

        .icon {
            margin-right: 12px;
        }
    }

}

.product-not-found {
    text-align: center;
    line-height: 50px;
    padding: 20px 0;
}

