.filter {
    margin-top: 20px;
    min-height: 600px;

    // .filter-box {
    //     border-right: 1px #ccc solid;
    // }

    .text-remove {
        display: none;
    }

    .title {
        text-align: center;
        line-height: 50px;
    }
}