.title {
    margin: 30px 0;
}

.row-product {
    margin-top: 60px;

    .title {
        text-align: center;
        // line-height: 50px;
    }
}

.linkAdmin {
    text-decoration: none;
    color: #000;
    padding: 4px 8px;

    &:hover {
        background: #eee;
    }
}
