* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-detail {
    background: #fafafa;
    padding: 30px 0;
}

.buyNow {
    margin-bottom: 30px;
}

.old-price {
    text-decoration: line-through;
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    margin-bottom: 0;
}

.sale-price {
    margin-bottom: 0;
    font-size: 26px;
    // &::before {
    //     content: "-";
    //     margin: 0 20px;
    // }
}

.parcel {
    margin-bottom: 0;
    padding: 0 20px;
}

.out-of-order {
    color: red;
    line-height: 50px;
}

.product-area {
    .hot-product {
        font-size: 20px;
        background: red;
        color: #fff;
        font-weight: 700;
        padding: 4px 12px;
        border-radius: 5px;
        width: 100px;
        text-align: center;
    }

    .product-name {
        font-size: 26px;
        font-weight: 600;
        line-height: 40px;
    }

    .product-price {
        width: 90%;
        background: #fff;
        padding: 20px 30px;
        color: #e74c3c;

        .sale-value {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 700;
            margin-top: -6px;
            margin-left: 90px;
            background: red;
            color: #fff;
            padding: 1px 12px;
            border-radius: 8px;
            text-transform: uppercase;
        }
    }

    .input-product-buy {
        margin: 30px 0;
        display: flex;

        span {
            margin-right: 30px;
        }
    }
}

.img-box {
    width: 100%;
    height: 450px;

    .img-product {
        width: 100%;
        height: 100%;
    }
}

.likeBtn {
    border:none;
    overflow:hidden
}

.descripiton {
    margin: 30px;
    text-transform: uppercase;
}

.options-box {
    margin: 40px 0;
}

.product-more-image {
    width: 100%;
}


