.extend {
    margin-bottom: 20px;
}

.collap {
    margin-toP: 20px;
}

.content {
    padding: 0 20px;
}

table {
    width: 100%;
}

tbody {
    text-align: left;

    tr {
        td {
            // margin-right: 20px;
            padding: 8px 4px !important;
        }

        td:last-child {
            margin-left: 20px;
        }
    }
}