.home-container {
    // margin-top: 150px;
    // width: 100vw;
    overflow: hidden;
    margin-top: 30px;
    
    // width: 100%;

    .category {
        margin: 30px 0;
        
    }

    .cate-title {
        text-transform: uppercase;
    }

    .banne-img {
        width: 100%;
        height: 100%;
        max-height: 400px;
    }

    .nav {
        width: 500px;
        text-align: center;
        margin: 20px auto;

    }

    .link {
        color: #000;
        padding: 4px 20px;
        transition: all .3s linear;
        font-weight: 700;

        &:hover {
            color: red;

        }
    }

    .number-found {
        display: none;
    }

    .pagination {
        margin-top: 30px;
    }
}