.header {
    background: linear-gradient(-180deg,#f53d2d,#f63);
    // position: sticky;
    // position: -webkit-sticky;
    // top: 0;
    z-index: 1;

    .header-bar-search {
        padding: 20px 0;
    }
}

.link {
    position: relative;
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    padding: 4px 0;
    margin-right: 30px;
    
    &:hover {
        color: #ccc;
    }

    &.searchBtn {
        margin: 0;
        padding: 0;
        width: 100px;

        .search {
            width: 100%;
            margin-left: -4px;
            border-radius: 0;
            box-shadow: 0 0 3px #ccc;
        }
    }
}

.icon {
    margin-right: 12px;
}

.form {
    width: 100%;
    
    .form-width {
        width: 100%;
    }

    .icon-search {
        margin-left: -4px;
        outline: none;
    }
} 

.total-product {
    position: absolute;
    top: -4px;
    background: #fff;
    color: red;
    padding: 0 8px;
    border-radius: 50%;
}

.notifi {
    margin-top: 10px;
}

.phone {
    color: #fff;
    line-height: 40px;
}