.footer {
    background: #fafafa;
    border-top: 5px red solid;
    padding: 40px 0;
    margin-top: 40px;

    .info {
        background: transparent;

        .info-item {
            background: transparent;
        }
    }

    .fanpage {
        border:none;
        overflow:hidden;

    }
}